﻿@model Examen2WebApp.Models.Mentoria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mentoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaDeMentoria.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaDeMentoria.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Docente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.Carne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.Carne)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
