﻿@model IEnumerable<Examen2WebApp.Models.Mentoria>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaDeMentoria.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Docente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estudiante.Carne)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaDeMentoria.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Docente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudiante.Carne)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
