﻿
@{
    ViewBag.Title = "Index";
}

<h2>Lista de profesores</h2>
<table>
    <tr style="margin: 2px 0px 2px 0px">
        <th style="width: 100px">Cedula</th>
        <th style="width: 100px">Nombre</th>
        <th style="width: 100px">Apellidos</th>
        <th style="width: 100px">Grado Académico</th>
        <th style="width: 100px">Solicitudes</th>
    </tr>
    @foreach (var docente in ViewBag.docentes)
    {
        <tr style="margin: 2px 0px 2px 0px">
            <td>@docente.Cedula</td>
            <td>@docente.Nombre</td>
            <td>@docente.Apellidos</td>
            <td>@docente.GradoAcademico</td>
            <td>@Html.ActionLink("Ver solicitudes","RequestsList","Solicitud",new { id = docente.Cedula }, null )</td>
        </tr>
    }
</table>


