﻿@model IEnumerable<Examen2WebApp.Models.Mentoria>
@{
    ViewBag.Title = "RequestsList";
}

<h2>Solicitudes</h2>

<p>Cantidad de solicitudes: @Model.Count()</p> 

@if (Model.Count() != 0)
{
<table>
    <tr style="margin-bottom: 2px">
        <th style="width: 100px">Carne</th>
        <th style="width: 200px; text-overflow: clip">Nombre</th>
        <th style="width: 200px">Área de Mentoria</th>
        <th style="width: 200px">Estado</th>
        <th style="width: 200px">Donación</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="margin-bottom: 2px">
            <td>@item.Estudiante.Carne</td>
            <td>@item.Estudiante.Nombre @item.Estudiante.Apellidos</td>
            <td>@item.AreaDeMentoria.Nombre</td>
            <td>@item.Estado</td>
            @if (item.Donacion == null || item.Donacion == 0)
            {
                <td></td>
            }
            else
            {
                <td>@item.Donacion</td>
            }
            @if (item.Estado != "Aceptada")
            {
                <td>@Html.ActionLink("Aceptar solicitud", "AcceptRequest", "Solicitud", new { cedDoc = item.CedulaDocente, cedEst = item.CedulaEstudiante, areaId = item.AreaDeMentoriaId }, null)</td>
            }
            else
            {
                <td></td>
            }
        </tr>
    }

</table>
}

<div>
    @Html.ActionLink("Lista de Profesores", "Index")
</div>
