﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @Html.ActionLink("Lista de Áreas de Mentoría", "Index", "AreaDeMentoria")<br />
    @Html.ActionLink("Lista de Docente", "Index", "Docente")<br />
    @Html.ActionLink("Lista de Estudiantes", "Index", "Estudiante")<br />
    @Html.ActionLink("Lista de Mentorías", "Index", "Mentoria")<br />
    @Html.ActionLink("Lista de Solicitudes por Docente", "Index", "Solicitud")<br />


</div>